$bodyBg: #f3f4fa;
$mainBg: #fff;
$mainColor: #1f578a;
$txtColor: #4e4d4f;
$purple: #8624db;
$orange: #ff9066;
$white: #fff;
$black: #000;
$green: #4caf50;
$red: #db190c;

$fontFamily: "Roboto", sans-serif;

$fontSizeNormal: 18px;
$fontSizeMedium: 20px;
$fontSizeLarge: 25px;

$sideBarWidth: 200px;
$sideBarLogoHeight: 171px;
$spacing: 48px;
$mobileSpacing: 24px;
$borderRadius: 30px;

$mobile-width: 600px;
$tablet-width: 1366px;
