@use "sass:math";
@use "./abstracts" as *;

.sidebar {
  flex-direction: column;
  color: $txtColor;
  width: 200px;
  background-color: $mainBg;
  position: fixed;
  top: 0;
  height: 100%;
  padding: 10px;
  z-index: 101;
  transition: all 0.5s ease-in-out;

  &__logo {
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 10px 0;

    span {
      font-size: 24px;
      color: $mainColor;
      font-weight: 700;
    }
  }

  &__menu {
    @include flex(start, center);
    flex-direction: column;
    padding-left: 5px;

    &__item {
      @include flex(center, flex-start);
      text-decoration: none;
      color: #5f6870;
      padding: 10px 20px;

      &:hover {
        cursor: pointer;
      }
      transition: all 0.3s ease-in-out;

      &__txt {
        z-index: 102;
      }

      &.active {
        font-weight: 500;
        color: $mainColor;
        // background-color: #1f578a;
        align-items: center;
        justify-content: center;
        color: antiquewhite;
        text-decoration: none;
        position: relative;
        z-index: 102;
      }

      &.active::after {
        content: "";
        position: absolute;
        left: 0;
        width: 200px;
        height: 100%;
        background-color: $mainColor;
        border-radius: 30px;
        z-index: 101;
        animation: zoomin 0.3s ease-in-out;
        box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.2);
      }

      &__icon {
        --size: 40px;
        width: var(--size);
        height: var(--size);
        margin-right: 10px;
        z-index: 102;
        @include flex(center, center);
      }

      &:last-child {
        margin-top: auto;
        cursor: pointer;
      }
    }
  }
}

.sidebar-open .main__content {
  height: 100vh;
  overflow: hidden;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  transform: scale(0.8) translateX(50%);
  transition: all 0.5s ease-in-out;
}

@keyframes zoomin {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
