.lawyer-dashboard {
  &-main-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 10px;
    gap: 20px;
    padding: 10px;
    background-color: #f7f7f7;
    width: 100%;
  }
  &-card-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  &-card {
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
  }
}
